@tailwind base;
@tailwind components;
// Stuff
@import "common/variables";
@import "./autoload/**/*";
@import "common/global";
// Plugins
@import url(~formstone/dist/css/carousel.css);
@import url(~formstone/dist/css/background.css);
@import url(~formstone/dist/css/themes/light.css);
@import url("https://use.typekit.net/zfp8mas.css");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

// Components
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/wp-classes";
@import "components/aspect";
@import "components/modal";
// // Layouts
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";
// More Stuff
@tailwind utilities;

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.rotating {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
